* {
  margin: 0;
  padding: 0;
}

.container{
  background-color: #08003a;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

img {
  margin-top: 40px;
  margin-left: 30px;
  width: 20%;
  height: auto;
}

.wrapper{
  background-color: #08003a;
  width: 50%;
  height: 40%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.wrapper h1{
  font-size: xx-large;
}

.wrapper p{
  color: #F99417;
  margin-bottom: 20px;
}


button {
  width: 240px;
  height: 80px;
  margin-top: 25px;
  background-color: #F99417;
  border-radius: 10px;
  color: #08003a;
  text-decoration: none;
  border: 2px solid #212121;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background-color: #078EA9;
  color: #fff;
  
}

a{
  margin-top: 20px;
  color: #fff;
}


footer {
color: #fff;
font-family: sans-serif;
text-align: center;
margin-top: auto;
background-color: #078EA9;
padding-top: 3px;
padding-bottom: 3px;
}

