* {
  margin: 0;
  padding: 0;
}

.container{
  background-color: #08003a;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

img {
  margin-top: 40px;
  margin-left: 30px;
  width: 20%;
  height: auto;
}

.wrapper{
  background-color: aliceblue;
  width: 50%;
  height: 40%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

button {
  width: 150px;
  height: 35px;
  margin-top: 25px;
  background-color: #F99417;
  border-radius: 8px;
  color: #08003a;
  text-decoration: none;
  border: 2px solid #212121;
  text-align: center;
  font-size: 25px;
}

.btn {
  border: 0px solid #fff;
  min-width: 200px;
  min-height: 40px;
  position: relative;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  transition: background-color 0.1s linear 0.1s;
  align-items: center;
  padding: 5px 2px;
  font-size: x-large;
  margin-bottom: 5px;
  font-weight: 600;
}

.btn-300::after {
  content: "";
  display: block;
  box-shadow: 0 0 0 1px #363062;
  background: none;
  position: absolute;
  inset: 0;
  transition: scale() 100ms linear 0.3s;
  border-radius: 8px;
}

.btn-300:hover::after {
  opacity: 0;
}

.btn-300:hover {
  background-color: #F99417;
  
}

footer {
color: #fff;
font-family: sans-serif;
text-align: center;
margin-top: auto;
background-color: #078EA9;
padding-top: 3px;
padding-bottom: 3px;
}

